#warning-card.panel(class=warning.severityLevel === 1 ? 'panel-primary' : 'panel-secondary')
  .panel-heading
    a(href='/warnings/#{warning.slug}' target="_self")
      h3 #{warning.description}
  .panel-body
    h4 #{warning.severity}
    p #{warning.message}