extends layout
block content

  .panel.panel-default
    .panel-heading
      h2(class='panel-title') Warnings for #{query}

    if warnings.length > 0
      table.table.table-striped
        tr
          th Description
          th Area
          th Region
          th River or sea

        each warning in warnings
          tr
            td= warning.description
            td= warning.eaAreaName
            td= warning.eaRegionName
            td= warning.floodArea.riverOrSea
    else
      .panel-body
        p No Warnings found for your "#{query}" query